//	----------- CONFIG VARIABLES ----------- 
//	| FUNCTION: 
//	|	Sets the current site and includes all settings for site
//	| DEPENDENCIES: 
//	|	Javascript config (layout.jade) dymanically generated from variables.
//  | USE: 
//	|	config.[setting]
//	|	account.[setting]
//  |   pages (for iterations)
//	----------------------------------------


- var accounts = { google: 'UA-xxxx-x' }
- var config = {site_url: 'http://localhost', image_url: 'http://localhost/images/', logo_url: 'http://localhost/images/logo.gif', site_title: 'Skele-OnePage', site_desc: 'Description'}
- var pages = ["one", "two", "three"]