//- Fixed Nav Menu
nav#nav
	div.container-fluid
		div.navbar-header
			button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#desktopNav")
				span.sr-only Toggle navigation
				i.fa.fa-bars
		div(class="collapse navbar-collapse" id="desktopNav")
			ul#navlist.nav
				li(role="presentation")
					a(href="#one" data-id="one" class="one" onClick="_gaq.push(['_trackEvent', 'nav', 'one']);") Page One
				li(role="presentation")
					a(href="#two" data-id="two" class="two" onClick="_gaq.push(['_trackEvent', 'nav', 'two']);") Page Two
				li(role="presentation")
					a(href="#three" data-id="three" class="three" onClick="_gaq.push(['_trackEvent', 'nav', 'three']);") Page Three
