doctype html
| <!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
| <!--[if IE 9]><html class="ie ie9" lang="en"><![endif]-->
//[if !IE]><!
html(lang="en" class="notIE")
	//<![endif]
	head
		title #{config.site_title}
		meta(name="Description" content=" #{config.site_desc}")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="./css/site.min.css")