//-	------------ LOAD CONFIG  ------------- 
include ./config

//-	----------- TEMPLATE LAYOUT ----------- 
include ./htmlhead
body
	
	//- -- NAV & HERO --
	include ./header

	//- -- CONTENT BLOCK --
	block content
	
	//- -- FOOTER --
	include ./footer

	//- -- SCRIPTS --
	include ./scripts
