div.row
	div.col-md-12.center
		//- DIV.PAGE: a max-width div for centering content. Full width content should be placed outside of this div.
		div.page
			//- Logo
			header#header 
				div.logo 
					img(src="./images/logo.gif" alt="#{config.site_title}" border="0")
			h1 ONE 
			div.right
				h4 Right Aligned Content
				p.right Lorem Ipsum
	