div.row
	div.col-md-12.center
		//DIV.PAGE: a max-width div for centering content. Full width content should be placed outside of this div.
		div.page
			h1 THREE 
			div.right
				h4 Right Aligned Content
				p.right Lorem Ipsum
	