//global.scss

//RESETS
//Eric Meyer HTML5 resets & button reset
// ----------------------------------------------
@import 'reset';

button, a, a:active, button:focus { outline: 0; }
.container-fluid { padding: 0px; }

// VARIABLES
// SASS Variables
// ----------------------------------------------
$title-font: Verdana, Helvetica, sans-serif;
$copy-font: Helvetica, sans-serif;

//color variables for fonts, elements
$background: #ffffff;
$text-color: #000000;
$title-color: #000000;
$grey-color: #666666; 
$opaque-grey: rgba(76,76,76,0.7); //opaque overlay


// BASIC STYLES
// Styles used throughout the site
// ----------------------------------------------
@import 'basic';


// HEADER STYLES
// ----------------------------------------------
@import 'header';


// FOOTER STYLES
// ----------------------------------------------
@import 'footer';


// COMPATIBILITY & RESPONSIVE IMPORTS
// IE and Responsive seperate stylesheets
// ----------------------------------------------
@import 'ie';
@import 'responsive';

//END