extends includes/layout

//- ------------------------------
//- CONTENT BLOCK
//- All content sections for the page
//- ------------------------------
block content
	div.sections
		//- REPLACE THESE WITH YOUR SECTIONS
		//- ONE
		div#one.container-fluid.section
			include ./pages/one

		//- TWO
		div#two.container-fluid.section
			include ./pages/two

		//- THREE
		div#three.container-fluid.section
			include ./pages/three
